.container {
  max-width: 1100px;
  margin: 2em auto 3em; }

h1, h2 {
  text-align: center; }

#morpion {
  border-collapse: collapse;
  margin: 0 auto; }
  #morpion td {
    border: 1px solid black;
    width: 8em;
    height: 8em;
    font-family: 'FontAwesome';
    text-align: center; }
  #morpion td.cross::before {
    content: '\f00d';
    font-size: 5em;
    transition: 1s all; }
  #morpion td.circle::before {
    content: '\f10c';
    font-size: 5em;
    transition: 1s all; }

#recapitulatif {
  text-align: center;
  margin: 2em auto 0; }
  #recapitulatif td {
    padding: 1em 2em; }

div {
  text-align: center; }
  div button + button {
    margin-left: 2em; }
