*{
	box-sizing: border-box;
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}


.container{
	width: 80%;
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;
}










@media screen and (min-width: 480px) and (max-width: 980px) {

}


@media screen and (max-width: 480px) {
	
	.container{
	width: 100%;
	padding:1em;
	}
}